**/bin/*
**/obj/*
**/packages/*
**/.vs/*
*.user
*.suo
*.cache
*/.vs/*
**/.vs/*
/ElsoSolution/ElsoKonzolosApp/obj/Debug/net7.0/ElsoKonzolosApp.assets.cache
/ElsoSolution/ElsoKonzolosApp/obj/Debug/net7.0/ElsoKonzolosApp.GeneratedMSBuildEditorConfig.editorconfig
**/obj/*
**/bin/*
